name: Python Linting

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black

      - name: Run flake8
        run: flake8 . --count --show-source --statistics

      - name: Run black
        run: black --check --diff .

      - name: Run pyextract.py test
        run: ./pyextract.py -s . --filename 123

      - name: Run pyextract_targz.py test
        run: ./pyextract_targz.py

      - name: Run pyextract_gzlog.py test
        run: ./pyextract_gzlog.py --path log/offlinelog

      - name: Run check
        run: cat 123.log

      - name: Run md5sum
        run: md5sum -c 123.md5
